 .header-index {
    position: relative;
    z-index: 0;
    background-image: url(../../img/background-cielo.jpg);
    height: auto;
    background-size: cover;
    background-position: center;
 }

.section-presentación {
    padding: 2rem;
    position: relative; 
    z-index: 1;
}

.mi-btn {
    @extend %botones;
}