@media only screen and (min-width: 700px) {

// estilos generlaes

body {
    padding-top: 50px;
}

// header

.section-presentación {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50rem;
    margin-left: 5rem;
    font-size: large;
    height: 50rem;

    h1 {
        padding-bottom: 2rem;
    }
    h2 {
        padding-bottom: 1rem;
    }
    p {
        padding-bottom: 1rem;
        font-size: larger;
    }
    button {
        max-width: 70%;
    }
}

.navbar {
    top: 0 !important;
    bottom: auto !important;
}

// main

.titulo-subrrayado {
    // no puedo mandar para la izquierda el titulo
    font-weight: 600;
    font-size:xx-large;
}

.article-card {
    max-width: 30rem;
}

// footer

footer {
    margin: 0;
}

}